requests~=2.32.3
langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.62
langchain-google-genai==2.1.5
langchain-text-splitters==0.3.8
faiss-cpu==1.11.0
duckduckgo-search==0.6.0
google-generativeai
